/*추천 도서 등록 시 검색 모달 css*/
.modal-overlay {
    position: fixed;
    top: 0; left: 0; width: 100%; height: 100%;
    background: rgba(0,0,0,0.5);
    display: flex; justify-content: center; align-items: center;
    z-index: 1000;
}

.modal-content {
    background: white; width: 800px; max-height: 80vh;
    padding: 25px; border-radius: 12px;
    display: flex; flex-direction: column;
}

.modal-results {
    overflow-y: auto; /* 결과가 많으면 스크롤 */
    margin-top: 20px;
    border-top: 1px solid #eee;
}

.select-btn {
    background: #0056b3; color: white; border: none;
    padding: 5px 12px; border-radius: 4px; cursor: pointer;
}